<!--Homepage-->
<div class="container">
    <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1> New York Times Mongo Scraper</h1>
        </div>

    </div>
    <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4></h4>
                </div>
                <div class="panel-body">
                    <p> {{summary}}</p>
                    <a href={{link}} target="_blank">{{link}}</a>
                    <br><br>
                    <button type="button" class="btn btn-success save" data-id={{_id}}>Save Article</button>
                </div>
            </div>
        <div class="panel panel-default">
            <div class="panel-body">
            <h4>NO ARTICLE FOR YOU</h4>
            </div>
         </div>
    </div>
</div>